/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


hr{
  width: 80px;
}

a.active {
  background-color: rgba(201, 197, 197, 0.5);
}

.buscar input{
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: grey 3px solid !important;

}

.autocomplete-content{
  position: absolute;
  width: 100%;
  text-align: center;
}

.siguenos{
  height: 300px;
}

.mr {
  margin-top: 80px;
}
